/* --------GLOBAL--------*/
p,label,input,textarea,input[type="submit"],.holder p.remain,h2.fourofour,h2 a{ font-family:"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Lucida Sans Unicode, Lucida Grande, sans-serif; }
.inner-tooltip{ font-size:12px;font-size:1.2rem; }
#home #menu #contact{ top:0; }
#menu a:link,#menu a:visited{ margin:0; }